@model IEnumerable<DataLayer.Store>

@{
    ViewBag.Title = "Index";
}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Stores</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Stores</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <div class="card">
                        <div class="card-header">

                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Address)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreateDate)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Address)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreateDate)
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-warning"
                                                    onclick="location.href='@Url.Action("Edit", "Stores",new{id = item.StoreID })'">
                                                <i class="fas fa-edit">  </i>
                                            </button> |
                                            <button class="btn btn-sm btn-primary"
                                                    onclick="location.href='@Url.Action("Details", "Stores",new{id = item.StoreID })'">
                                                <i class="fas fa-list"></i>
                                            </button> |
                                            <button class="btn btn-sm btn-danger"
                                                    onclick="location.href='@Url.Action("Delete", "Stores",new{id = item.StoreID })'">
                                                  <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                    <div>
                        <!--  @Html.ActionLink("Create New", "Create")-->
                        @Html.ActionLink("Create A New Store", "Create", "Stores", null, new { @class = "btn btn-success mt-4 btn-large" })

                    </div>
                </div>
            </div>
        </div>
    </section>
